In [1]:
import pandas as pd

In [7]:
data = pd.read_excel("C:/Users/Donát/Documents/GitHub/-nkutfel/2019_matek_A1_A2.xlsx")

In [20]:
emberek_es_jegyek = data.pivot_table(index = "Nyomtatási név", columns = "Tárgynév", values = "Bejegyzés értéke", fill_value=0,
                                    aggfunc = "max")

In [21]:
emberek_es_jegyek

Tárgynév               Matematika A1a - Analízis  Matematika A2c
Nyomtatási név
Ablonczy Csaba                                 2               3
Abuczki Richárd János                          2               1
Al-Hag Johanna Iman                            5               5
Bacskó Bernadett                               2               3
Bagi Nóra Izabella                             2               3
...                                          ...             ...
Ábrahám János Dezső                            3               5
Ács Ágnes Tünde                                3               3
Ónodi Vanda Júlia                              2               0
Ótus Noémi                                     2               0
Ötvös Bettina                                  4               2

[309 rows x 2 columns]

In [22]:
emberek_es_jegyek.to_excel("C:/Users/Donát/Documents/GitHub/-nkutfel/2019_matekjegyek_tisztított.xlsx")